@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Luckiest+Guy&display=swap');
body {
    background-color: #F7B32B;
    font-family: 'Luckiest Guy', cursive;
}
.header {
    text-align: center;
}
.nav_bar {
    position: sticky;
}
.nav_bar a {
    text-decoration: none;
    color: whitesmoke;
}
.nav_bar li {
    list-style-type: none;
    display: inline;
    padding: 40px;
}
.nav_bar ul {
    text-align: center;
    padding: 1em;
}
.hero_pic {
    width: 100%;
    height: 300px;
    border: solid 1px black;
    text-align: center;
}

.quote {
    text-align: center;
    color: whitesmoke;
}
.blocks_container {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}
.southern_block{
    width: 700px;
    height: 300px;
    border: solid 1px black;
    text-align: center;
}
.vegan_block {
    width: 700px;
    height: 300px;
    border: solid 1px black;
    text-align: center;
}
.hawaiian_block {
    width: 700px;
    height: 300px;
    border: solid 1px black;
    text-align: center;
}
.pantry_block {
    width: 700px;
    height: 300px;
    border: solid 1px black;
    text-align: center;
}
.pantry_block img {
    width: 50%;
}
footer {
    text-align: center;
}
@media (max-width: 600px) {
    .nav_bar li {
        padding: 15px;
    }
}